@charset "UTF-8";

header,
footer {
    background-color: rgb(239, 239, 239);
    padding: 0.5rem;
    font-size: 110%;
}


header nav ul {
    list-style: none;

}

header nav li {
    text-align: center;
    display: flex;
}

header ul li a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    color: rgb(201, 182, 72);
    font-weight: bold;
}



header ul li+li {
    border-left: 1px solid black;
}

.breadcrumbs {
    display: flex;
    list-style: none;
}

.breadcrumbs li::after {
    content: ">";
    padding: 0 0.5rem;
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs li a:hover {
    text-decoration: none;
}

.breadcrumbs li a:visited {
    color: blueviolet;
}

.breadcrumbs li a::after {
    color: aqua;
}

.card-title,
.btn {
    text-align: center;
    justify-content: center;
}

ul{
    list-style: "■";
}
