@charset "UTF-8";

main {
    text-align: center;
    font-weight: bold;
}

.card,
card-body {
    margin: 20px 0 0 0;
}

.container {
    display: flex;
    gap: 20px;
    padding: 100px 0;
    margin: 0 auto;

}

.card-img-top {
    object-fit: cover;
    height: 300px;
    width: 110%;
}


footer a {
    text-decoration: none;
    color: blueviolet;

}

.card-title{
    text-align: center;
    justify-content: center;
}
