@charset "utf-8";

header{
    display: flex;
    background-color: aqua;
    

}

.navi{
    display: flex;
    margin: auto;

}

.navi p{
    margin: 5px;
}


.title{
    margin-left:30px;
    font-size: 25px;
}
body{
    margin: 0;
    background-color: antiquewhite;
}

a{
    text-decoration: none;
    display: block;
    display: flex;
}